body {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

.metaNav {
    position: fixed;
    top: 0;
    width: 100%;
    color: #EDEDED;
    text-align: center;
}

.nav {
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #222222;
}

.nav, .nav2 {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

.nav li, .nav2 li {
    display: inline-block;
    width: 25%;
}

.nav2 li {
    padding-top: 3px;
    padding-bottom:3px;
    -webkit-animation: fadein 0.6s;
       -moz-animation: fadein 0.6s;
        -ms-animation: fadein 0.6s; 
         -o-animation: fadein 0.6s;
            animation: fadein 0.6s;
}

.boldNav {
    font-weight: bold;
}

.bodyContent {
    margin-top: 70px;
    margin-left: 5vw;
    margin-right: 30vw;
    margin-bottom: 40px;
}

.cb1, .cb2, .cb3, .cb4, .cb5 {
    width: 43%;
    text-align: center;

}

.db1 { background-color: #FF3100; }
.db2 { background-color: #FFA700; }
.db3 { background-color: #00BF32; }
.db4 { background-color: #0D56A6; }
.db5 { background-color: #444444; }

.sectTitle {
    color: white;
    padding-left: 3px;
}
.visualArt {
    width: 100%;
}

.bodyText {
    width: 100%;
    font-size: 18px;
}

.anchor {
    position: relative;
    top: -69px;
}

.cvYear {
    font-size: 12px;
    margin-left: 8px;
    float: left;
}

.cvDesc {
   font-size: 14px;
   margin-left: 50px; 
   margin-bottom: 8px;
}

.slideshow {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border: 3px solid #222222;
}

.mySlides0, .mySlides1, .mySlides2, .mySlides3 {
    max-width: 100%;
    height: auto;
    -webkit-animation: fadein 0.6s;
       -moz-animation: fadein 0.6s;
        -ms-animation: fadein 0.6s; 
         -o-animation: fadein 0.6s;
            animation: fadein 0.6s;
}

.w3-button {
    border: 2px solid #444444;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.w3-button:hover {
    cursor: pointer;
}

.w3-button:active {
    background-color: #666666;
    color: #EDEDED;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
